@font-face {
  src: url(Moon2.0-Regular.otf);
  font-family: moon;
}

h1 {
  font-size: 40px;
  font-family: moon;
  
}

h2 {
  text-align: center;
  font-family: moon;
  
}
      
h3 {
  text-align: center;
  font-family: moon;
  
}
      
p {
  text-align: center;
  font-family: moon;
  
}
